

/*=============================================
GLOBAL
=============================================*/

*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	user-select: none;	
}

#contenedor{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
	opacity: 0;
}

.fila{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
	clear:both;
	display:table;
	/*border:1px solid black;*/
}

[class*="col-"]{
	float:left;
	/*border:1px solid black;*/
	padding:0px;
}

h1.titulos{
	/*background: rgba(26,103,61,1);*/
	text-align: center;
	color:rgba(26,103,61,1);
	font-family: 'Lemon', cursive;
	/*font-weight:100;*/
}

h1.titulos hr{
	margin:10px;
	border:thick outset white;
	color:white;
}

#fotoFondo{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-10;
	opacity: 0.3;
	background: url(../img/fondo.png);
	background-size: cover;
}

.transbox{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-10;
	backdrop-filter: grayscale(100%);
}


/*=============================================
CABECERA
=============================================*/

header{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgb(26,103,61);
	transition: 1s;
	box-sizing: border-box;
	z-index: 10;
}

header.scrolled{
	height: 100px;
}

header	img.banner{
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: 1s;
}

header.scrolled img.banner{
	opacity: 0;
}

header .logo{
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 150px);
	transition: 1s;
}

header.scrolled .logo{
	position: relative;
	top: 10px;
	left: 0;
}

header .logo img{
	width: 300px;
	transition: 1s;
}

header.scrolled .logo img{
	width: 80px;

}


/*=============================================
MENU
=============================================*/

nav{
	position: relative;
	float: right;
	margin-right: 10px;
}

header.scrolled nav{
	background: rgb(26,103,61);
}

nav ul{
	margin: 0;
	padding: 15px 0;
	display: flex;
	transition: 1s;
	opacity: 0;
	visibility: hidden;
	transform: 	translateX(0);
}

header.scrolled nav ul{
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

nav ul li{
	list-style: none;
	text-align:center;
}

nav ul li a{
	/*display: block;*/
	/*margin: auto;*/
	/*margin-bottom: 5px;*/
	padding: 10px 15px;
	font-family: 'Lemon', cursive;
	color: white;
	line-height: 30px;
	font-size: 20px;
	transition: 1s;
}

nav ul li a:hover{
	background:rgb(26,80,61);
}

nav ul li a:active{
	background:rgb(26,120,81);
}


.espacio{
	position: relative;
	opacity: 0;
	height: 150px;
	background: white;
}

nav button span{
	color: white;
	font-weight: bold;
}

/*=============================================
SLIDESHOW
=============================================*/

#slide{
	position: relative;
	/*background: rgb(26,103,61);*/
	/*background: white;*/
	margin: auto;
	width: 100%;
	overflow: hidden;
	margin-bottom: 150px;
	margin-top: 50px;
}

#slide ul{
	position: relative;
	left: 0%;
	margin: auto;
	height: auto;
	width: 400%;
	clear: both;
	display: table;
}

#slide ul li{
	position: relative;
	float: left;
	width: 25%;
}

#slide ul li img{
	width: 100%;
}

#slide #paginacion{
	position: absolute;
	width: 100%;
	margin: auto;
	text-align: center;
	bottom: 20px;
	left: 0;
	z-index: 1;
}

#slide #paginacion li{
	display: inline-block;
	margin: 0px 5px;
	cursor: pointer;
	opacity: .5;
	color: white;
	text-shadow: 0px 0px 5px #333;
}

#slide #paginacion li:first-child{
	opacity: 1;
}

#slide .flechas{
	position: absolute;
	font-size: 2em; /*1 em equivale a 16px*/
	color: white;
	cursor: pointer;
	z-index: 2;
}

#slide #retroceder{
	top: 45%;
	left: 2%;
}

#slide #avanzar{
	top: 45%;
	right: 2%;
}

#slide ul li .textoSlide{
	position: absolute;
	width: 30%;
	top: 40px;
	left: 35%;
	text-align: center;
	z-index: 1;
	color: white;
}

#slide ul li .textoSlide h2{
	/*font-family: 'Courgette', cursive;*/
	font-family: 'Lemon', cursive;
	background: rgba(0, 0, 0, .5);
	padding: 5px 0;
}

#slide ul li .textoSlide h4{
	/*font-family: 'Courgette', cursive;*/
	font-family: 'Lemon', cursive;
	background: rgba(0, 0, 0, .5);
	padding-bottom: 10px;
}

/*=============================================
PRODUCTOS
=============================================*/

#galeriaProd{
	position: relative;
	width: 100%;
	margin: auto;
	background: white;
}

#galeriaProd ul{
	padding: 20px;
}

#galeriaProd ul li{
	padding: 10px;

}

#galeriaProd ul li img{
	width:100%;
	cursor: pointer;
	/*transition:.6s;*/
}

#galeriaProd ul li img:hover{
	transition:.6s;
	opacity: .6;
}

/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/

@media(min-width:1200px){ /*min-width es la medida de ancho inicial o minima*/

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0 {display:none;}

#cabecera #logoCabeza{
	margin-left: 15px;
	margin-right: 30px;
}

}

/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px){ /*definimos un rango*/

	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0 {display:none;}
}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media(max-width:991px) and (min-width:768px){

	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0 {display:none;}
}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px){ /*solo ponemos el maximo, ya que abarca todos los anchos desde 0 a 767*/

	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0 {display:none;}
}

